<div class="school-background py-4">
<br>
<div class="student mb-4 d-flex align-items-center justify-content-center" >
  <h1 id="attendances_index"></h1>
</div>

<div class="cover mb-4 d-flex align-items-center justify-content-center" >
  <div class= "row justify-content-center w-100">
    <div class ="col-10">
     <% @students.each do |student| %>
     <%= link_to  student_path(student) do %>
       <div id="student-<%= student.id %>" class="card-product">
         <img src= "<%= student.photo %>" />
         <div class="card-product-infos d-flex justify-content-between w-100">
             <div>
             <h2><i class="fas fa-graduation-cap"></i>&ensp;&ensp;<%= student.name %></h2>
             <p>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;<%= student.classroom.level %></p>
            </div>

            <div class ="wrapper">
               <% attendance = student.attendances.find{ |attendance| attendance.agenda == @agenda } %>
              <% if attendance %>
                <!-- Button trigger modal -->
                <%= link_to '', data: { toggle: "modal", target: "#exampleModal" } do %>
                  <i class="fas fa-check-square attendance-present"></i>
                <% end %>


                 <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                       If you confirm, a message will be send to the parent <%= student.parent.name %>: "Your child is missing from school!👮"
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-add m-4" data-dismiss="modal">Close</button>
                        <%= link_to 'Confirm', attendance_path(attendance), method: :delete, class: 'btn btn-add m-0', remote: true %>
                      </div>
                    </div>
                  </div>
                </div>
              <% else %>
                <%= link_to agenda_student_attendances_path(@agenda, student), method: :post, remote: true do %>
                  <i class="fas fa-times-circle attendance-absent"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
         <% end %>
      <% end %>
    </div>
  </div>
</div>
</div>
