<h2>Student Profile</h2>
 <p><strong>Name: <%= @student.name %></strong></p>
 <p><strong>Age: <%= @student.age %></strong></p>
 <p><strong>Classroom: <%= @student.classroom %></strong></p>
 <p><strong>Address: <%= @student.address %></strong></p>
 <p><strong>Contact: <%= @student.contact %></strong></p>
 <p><strong>Remarks: <%= @student.remarks %></strong></p>
 <!--student: name,classroom,  age, address, contact, remarks(results, behaviour)
