 <div>
      <div class="container">
         <div cover mb-4 d-flex align-items-center justify-content-center>

         </div>
          <div class="d-flex row justify-content-center">
            <div class="col-lg-4">
               <div class="card bg-light my-3">
                    <div class="card-body d-flex align-items-center">
                      <h2 class="card-title fw-bolder"> <%= @student.photo %></h2>
                        </div>
                          <ul class="list-group list-group-flush">
                           <li class="list-group-item">
                
                           <p><strong>Name: </strong><%= @student.name%></p>
                           <p><strong>Class: </strong><%= @student.classroom.level%></p>
                           <p><strong>Age: </strong><%= @student.age%></p>
                           <p><strong>Address: </strong><%= @student.address%></p>
                           </li>
                          </ul>
                                <%= link_to "update", edit_student_path(@student), class: 'text-center', class: 'btn btn-gradient m-4'%>

                                <%= link_to "Delete",student_path(@student),
                                method: :delete,
                                data: { confirm: "Are you sure?" },class: 'text-center', class: 'btn btn-ghost m-4' %>
                </div>
                  <div class= "d-flex align-items-center justify-content-center mb-4">
        <%= link_to 'Back', :back, class: 'text-center', class: 'btn btn-gradient m-4' %>
           </div>
            </div>
          </div>


      </div>
    </div>