<body background= "https://media.istockphoto.com/vectors/online-education-and-elearning-via-digital-device-vector-id1168910967?k=20&m=1168910967&s=612x612&w=0&h=fHa08_LlwjeeWIqxOy0YDSmH-bBQfDzicK2ogb8ALQc=">
<div class="cover mb-4 d-flex align-items-center justify-content-center" >



  <h1 id="lectures_index"></h1>

</div>

<div class= "row justify-content-center ">
  <% @agendas.each do |agenda| %>
  <div class ="col-10">
    <div class="mr-10 d-flex align-items-center justify-content-center">
     <h3><kbd><%= agenda.start_time.strftime("%A %d %B") %></kbd></h3>
   </div>
   <div class="cover mb-4 d-flex align-items-center justify-content-center" >
         <div class="card-product">
           <div class="card-product-infos">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h2><%= link_to agenda.teacher.subject, agenda_path(agenda) %></h2>
                    <p>Begin: <%= agenda.start_time.strftime("%H:%M") %> - End:<%= agenda.end_time.strftime("%H:%M") %> </p>
                    <p>Classroom: <%= agenda.classroom.level %></p>
                </div>
                <%= link_to "Attendance", check_agenda_students_path(agenda), class: "btn btn-add mt-0"%>
              </div>
           </div>
         </div>
       </div>
  </div>
  <% end %>
</div>
<div class="cover mb-4 d-flex align-items-center justify-content-center" >
  <%= link_to "Add", new_agenda_path(@agenda), class: 'text-center', class: 'btn btn-add m-4'%>
</div>
<!--<div class="cover mb-4 d-flex align-items-center justify-content-center" >
 <div class= "row ">
   <div class ="col">
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= link_to 'Tuesday', agendas_path(@agenda) %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover mb-4 d-flex align-items-center justify-content-center" >
 <div class= "row ">
   <div class ="col">
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= link_to 'Wednesday', agendas_path(@agenda) %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover mb-4 d-flex align-items-center justify-content-center" >
 <div class= "row ">
   <div class ="col">
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= link_to 'Thursday', agendas_path(@agenda) %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover mb-4 d-flex align-items-center justify-content-center" >
 <div class= "row ">
   <div class ="col">
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= link_to 'Friday', agendas_path(@agenda) %></h2>
        </div>
      </div>
    </div>
  </div>
</div>-->
