
<div class ="school-background">
<div class="cover py-5  mb-40 d-flex align-items-center justify-content-center" >




  <h1 id="lectures_index" style="height: 24px;"></h1>

</div>

<div class= "row justify-content-center ">
  <div class ="col-10">
  <% @agendas.each do |agenda| %>
    <div class="d-flex align-items-center justify-content-center">
     <h3><kbd><%= agenda.start_time.strftime("%A %d %B") %></kbd></h3>
   </div>
   <div class="cover mb-4 d-flex align-items-center justify-content-center" >
         <div class="card-product">
           <div class="card-product-infos">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <h2><%= link_to agenda.teacher.subject, agenda_path(agenda) %></h2>
                    <p><strong>From: <%= agenda.start_time.strftime("%H:%M") %> - To: <%= agenda.end_time.strftime("%H:%M") %> </strong></p>
                    <p><strong><%= agenda.classroom.level %></strong></p>
                </div>
                <%= link_to "Attendance", check_agenda_students_path(agenda), class: "btn btn-add mt-0"%>
              </div>
           </div>
         </div>
       </div>
  <% end %>
  </div>
</div>
<div class="cover d-flex align-items-center justify-content-center" >
  <%= link_to "Add", new_agenda_path(@agenda), class: 'text-center', class: 'btn btn-add m-4'%>
</div>
</div>
