<div class="cover mb-4 d-flex align-items-center justify-content-center" >
  <h1><strong>Lecture</strong></h1>
</div>

<% @agendas.each do |agenda| %>
  <div class="mr-10 d-flex align-items-center justify-content-center">
   <h3><%= agenda.start_time.strftime("%A:%F") %></h3>
 </div>
 <div class="cover mb-4 d-flex align-items-center justify-content-center" >
   <div class= "row ">
     <div class ="col">
       <div class="card-product">
         <div class="card-product-infos">
           <h2><%= link_to agenda.teacher.subject, agenda_path(agenda) %></h2>
             <p>Begin: <%= agenda.start_time.strftime("%H:%M") %> - End:<%= agenda.end_time.strftime("%H:%M") %> </p>
             <p>Classroom: <%= agenda.classroom.level %></p>
             <%= link_to "Attendance", check_agenda_students_path(agenda) %>
         </div>
       </div>
     </div>
   </div>
 </div>
<% end %>
<div class="cover mb-4 d-flex align-items-center justify-content-center" >
  <%= link_to "Add", new_agenda_path(@agenda), class: 'text-center', class: 'btn btn-add m-4'%>
</div>
<!--<div class="cover mb-4 d-flex align-items-center justify-content-center" >
 <div class= "row ">
   <div class ="col">
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= link_to 'Tuesday', agendas_path(@agenda) %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover mb-4 d-flex align-items-center justify-content-center" >
 <div class= "row ">
   <div class ="col">
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= link_to 'Wednesday', agendas_path(@agenda) %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover mb-4 d-flex align-items-center justify-content-center" >
 <div class= "row ">
   <div class ="col">
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= link_to 'Thursday', agendas_path(@agenda) %></h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cover mb-4 d-flex align-items-center justify-content-center" >
 <div class= "row ">
   <div class ="col">
      <div class="card-product">
        <div class="card-product-infos">
          <h2><%= link_to 'Friday', agendas_path(@agenda) %></h2>
        </div>
      </div>
    </div>
  </div>
</div>-->
