<div class="agenda-show">
<div class= "container py-5 mb-40">
  <div class= "d-flex align-items-center justify-content-center mb-4">
   <h2><strong>Create A new Lecture</strong><h2>
  </div>


  <div class= "bg-white rounded shadow h-100 card-body align-items-center py-5 form-new">
    <%= simple_form_for(@agenda) do |f| %>
      <%= f.association :classroom, label_method: :level, as: :select %>
      <div>
       <%= f.input :start_time, as: :datetime, html5: true %>
      </div>
      <br>
      <div>
       <%= f.input :end_time, as: :datetime, html5: true %>
      </div>

      <div class= "d-flex align-items-center justify-content-center mb-4">
       <%= f.submit "Create", class: 'btn btn-gradient' %>
        <%= link_to 'Cancel', :back, class: 'btn btn-ghost' %>
      </div>

    <% end %>
  </div>
</div>
</div>
